{% extends 'app0/base.html' %}

{% block content %}
  <!-- Page Content -->
  <header class="jumbotron my-4">
    <h2 class="display-4">Temblores</h2>
    <p class="lead">Temblores ONG is a non profit organisation that works for the
      defense of human rights in Colombia. We seek to promote comunitary processes
      of transformation and facilitate dialogues between the academie, the State,
      the public opinion and communities in order to expose violences against
      historically marginalized groups.</p>
  </header>

{% endblock %}
