{% extends 'app0/base.html' %}

{% block content %}
{% load static %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h2 class="display-4">Segundo reporte de violencia por partte de la fuerza pública</h2>
      <p class="lead">Los datos aquí expuestos fueron adquiridos por derecho de petición
        a Medicina Legal y cubren el periodo de <b>Enero 2017</b> a <b>Diciembre 2018</b>.</p>
      <a href="https://www.temblores.org/sistema-callejero" class="btn btn-outline-secondary">Ver reporte</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center" style="margin-top:50px; margin-bottom:100px">

      <div class="col-lg-3 col-md-6 mb-4">
        <a href="{% url 'app0:vis1' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app0/img/Fecha_hora.svg' %}" alt="">
        </a>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <a href="{% url 'app0:vis2' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app0/img/sexo-edad.svg' %}" alt="">
        </a>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <a href="{% url 'app0:vis3' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app0/img/geografia.svg' %}" alt="">
        </a>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <a href="{% url 'app0:vis4' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app0/img/contexto.svg' %}" alt="">
        </a>
      </div>
    </div>

  </div>
  <!-- /.container -->
{% endblock %}
