{% extends 'app0/base.html' %}

{% block content %}
{% load static %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h2 class="display-4">Segundo reporte de violencia de la fuerza pública</h2>
      <p class="lead">Los datos aquí expuestos fueron adquiridos por derecho de petición
        a Medicina Legal y cubren el periodo de <b>Enero 2017</b> a <b>Diciembre 2018</b>.</p>
      <a href="https://issuu.com/temblores/docs/los_nunca_nadie__informe_sobre_la_s" class="btn btn-outline-secondary">Ver reporte</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Datos por fecha y hora</h5>
        <img style="width: 50px; height: width" src="{% static 'app0/img/calendar.svg' %}" alt="">
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Datos por sexo y edad</h5>
        <img style="width: 70px; height: width" src="{% static 'app0/img/gender.svg' %}" alt="">
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Datos por geografía</h5>
        <img style="width: 50px; height: width" src="{% static 'app0/img/colombia.svg' %}" alt="">
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Contexto</h5>
        <img style="width: 50px; height: width" src="{% static 'app0/img/calendar.svg' %}" alt="">
      </div>
    </div>
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="footer">
          <a href="{% url 'app0:vis1' %}" class="btn btn-info">Explorar</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="footer">
          <a href="{% url 'app0:vis2' %}" class="btn btn-info">Explorar</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="footer">
          <a href="{% url 'app0:vis3' %}" class="btn btn-info">Explorar</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="footer">
          <a href="{% url 'app0:vis1' %}" class="btn btn-info">Explorar</a>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
